
.box_container {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #000000;
  border-radius: 10px;
}
.marquee_box {
  border-radius: 10px;
  width: 380px;
  height: 415px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Open Sans';
  padding: 14px 30px 20px;
  font-size: 14px;
  box-sizing: border-box;
  overflow: hidden;
}
.marquee_title {
  padding-bottom: 12px;
  background-color: #000000;
  position: relative;
  z-index: 2;
}
.text_box_act {
  line-height: 1.7em;
  position: relative;
  height: 70px;
}







        /*--- GENERAL STYLES ---*/
        body { font-size: 16px; line-height: 1.5em; font-family: 'Quattrocento Sans', sans-serif; }
        h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', serif; font-weight: 700; color: #1a1a1a; }
        .content-section { min-height: 100vh; padding-top: 70px; padding-bottom: 20px;          background-color: white;
;        }
        .content-section h1 { color: #9C9C9C; font-weight: 400; font-size: 30px; display: inline-block; }
        .content-section h1:after { content: ''; display: block; border-bottom: 1px solid #DFDFDF; padding-top: 3px; }
        .content-section p.lead { font-family: 'Cardo', serif; font-size: 19px; line-height: 1.35em; margin-bottom: 25px; }
        .content-section p.lead em { font-size: 14px; }
        .content-section p em { font-size: 14px;}
        .content-section p mark em { font-size: inherit;}
        .content-section img.pull-right { border:1px solid #DFDFDF; margin-top: 140px;  }
        
        @media screen and (min-width: 768px) {
          .content-section { padding-top: 130px; }
          .content-section h1 { font-size: 34px; }
          .content-section p.lead { margin-bottom: 30px; }
        }
        
        @media screen and (min-width: 992px) {
          .content-section { padding-top: 160px; }
          .content-section h1 { font-size: 38px; }
          .content-section h1:after { padding-top: 5px; }
          .content-section p.lead { font-size: 21px; margin-bottom: 35px; }
        }
        
        @media screen and (min-width: 1200px) {
          .content-section { padding-top: 160px; }
          .content-section h1:after { padding-top: 7px; }
          .content-section p.lead { font-size: 22px; margin-bottom: 35px; }
        }
        
        
        /*--- NAVBAR ---*/
        .navbar-default { font-family: 'Montserrat', serif; background: #FFFFFF; border-bottom-color: #DFDFDF; height: 60px; margin-bottom: 0; }
        .navbar-header .navbar-toggle { margin-top: 12px; }
        .navbar-header .navbar-brand { letter-spacing: -0.03em; height: 60px; padding: 30px 10px 0 10px; font-size: 36px; line-height: 0px; font-weight: 700; color: #111; white-space: nowrap; }
        .navbar-default .navbar-brand:focus { color: #111; }
        .navbar-default .navbar-nav { background: #FFF; margin-top: 0; }
        .navbar-default .navbar-nav>li>a { color: #222; padding: 10px; border-bottom: 1px solid #DFDFDF; }
        .navbar-default .navbar-nav>li>a.selected { color: #E64B36; }
        .navbar-default a.navbar-brand:hover .navbar-default .navbar-nav>li>a:hover { background-color: #DFDFDF; }
        .navbar-default .navbar-brand:hover { color: #E64B36; }
        
        @media screen and (min-width: 768px) {
          .navbar-default { height: 100px; }
          .navbar-header { width: 100%; }
          .navbar-header .navbar-brand { height: 70px; padding: 40px 0 0 15px; font-size: 42px; }
          .navbar-default .navbar-nav>li>a { padding: 0px 20px 9px 0; }
          .navbar-default .navbar-nav>li>a:hover { background-color: transparent; color: #E64B36; }
        }
        
        @media screen and (min-width: 992px) {
          .navbar-default { height: 120px; }
          .navbar-header .navbar-brand { height: 80px; padding: 45px 0 0 15px; font-size: 48px; }
          .navbar-default .navbar-nav>li>a { padding: 10px 25px 9px 0; }
        }
        
        .event{
          width: fit-content;
          height: fit-content;
        }
       
        .info{
          width:70%;
        }
        .template-widget__title{
          background-color: #111;
          border-top-left-radius:  10px;
          border-top-right-radius: 10px;
          color: white;
          text-align: center;
        }
        .template-widget__content{
          background-color: #222;
        }
        .template-widget-footer{
          text-align: center;
        }






